*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main{
    height: 100vh;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vw;
    color: white;
    background-color: black;
}
.nav-list{
    display: flex;
    font-size: 1.5vw;
    gap: 5vw;
    justify-content: center;
    align-items: center;
}
.nav-list  li{
    list-style: none;
}
.nav-list button{
    margin-right: 1vw;
    padding: .5vw .5vw;
    background-color: salmon;
    font-size: 1.5vw;
    border-radius: 10px;

}
.nav-list i{
    display: none;
}

.content{
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.left{
    height: 100%;
    background-color: red;
    width: 100%;
}
.left h2{
    color: white;
    text-align: center;
    padding: 1vw;
}
.left h2 span{
    color: rgb(255, 255, 15);
}
.left p{
    padding: 2vw;
}
.right img{
    width: 100%;
    height: 100%;
}
.right{
    height: 100%;
    background-color: lightseagreen;
    width: 100%;
}
.feedBack{
    height: 100vh;
    display: flex;
    justify-content: start;
    flex-direction: column;
    background-color: gray;
    align-items:center;
}
.main-head{
    color: white;
    padding: 1vw;
    background-color: black;
    width: 100%;
    margin-top: 2px;
    text-align: center;
}
.form{
    width: 100%;
    display: flex;
    align-items: flex-start;
    margin-top: 2vw;
    flex-direction: column;
}
.inerForm{
    display: flex;
    width: 100%;
    margin-top: 10px;
}

.form label{
    font-weight: 800;
    margin-left: 1vw;
    padding-right:  1vw;
    line-height: 2vw;
    font-size: 2vw;
}
.form input{
    height: 2vw;
    width: 90%;
    padding-left: 1vw;
    font-weight: 700;
    font-size: 1vw;
}
@media (max-width:600px){
    .nav-list li{
        display: none;
    }
    body{
        height: 100vh;
    }
    .nav-list button{
        display: none;

    }
    .nav-list i{
        display: block;
        margin-right: 2vw;
    }
    .nav{
       min-height: 6vw;
       font-size: 4vw;
       padding: 4vw;
    }
    .left{
        height: 100%;
        padding: 2vw;
    }
    .right{
        height: 100%;
        width: 100%;
    }
    .content{
        display: flex;
        flex-direction: column;
    }
    .feedBack{
        margin-top: 40vw;

    }
}
